.landing-page-list-container {
  padding-inline-start: 2rem;
  margin-top: 0.5rem;
}

.public-charge-link {
  color: var(--primary-color);
}

.back-continue-buttons{
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-left: -0.5rem;
}
