.cobranded-logo {
  max-width: 15.625rem;
  max-height: 2rem;
  display: block;
}

.MuiTypography-root.MuiLink-root.twoOneOneMenuLink {
  font-weight: 600;
  font-size: 13px;
}

.twoOneOne-globe-icon {
  color: var(--primary-color);
}

.twoOneOne-header-container {
  background-color: #FFFFFF;
  height: 5rem;
  padding: 0 .5rem;
  width: 100%;
}

#twoOneOne-select-language {
  padding: 0;
  color: #005191;
  font-weight: 600;
  font-size: 13px;
  margin-right: 1.5rem;
}

#twoOneOne-nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: var(--main-max-width);
  margin: auto;
  height: 100%;
}

#twoOneOne-select-language:focus-visible {
  outline: -webkit-focus-ring-color auto 1px;
}

button.hamburger-icon {
  display: none;
}

.hamburger-drawer {
  display: none;
}

@media (max-width: 1250px) {
  button.hamburger-icon {
    display: flex;
  }

  .hamburger-drawer {
    display: block;
  }

  div.twoOneOne-desktop-links {
    display: none;
  }
}

@media (max-width: 500px) {
  .cobranded-logo {
    width: 90%;
  }
}
