.delete-button-container {
  display: flex;
  justify-content: flex-end;
}

.income-block-question-buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 1.25rem;
}

.income-block-textfield {
  margin-left: 8px;
}