.ineligibility-link.navigator-info {
  font-weight: 900;
  font-size: 14px;
}

.no-results-content-container {
  text-align: center;
  line-height: 1.25rem;
  font-size: 14px;
  color: #2a2b2a;
}

.noResults-p {
  margin: 1rem;
}

@media (max-width: 700px) {
  .noResults-p {
    font-size: 12px;
    margin: 0.1rem;
  }

  .no-results-content-container {
    line-height: 1rem;
  }

  .ineligibility-link.navigator-info {
    font-size: 12px;
  }
}
