.question-label {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 8px;
}

.question-description {
  margin-bottom: 1rem;
}

.prev-button {
  margin-right: 2.25rem !important;
}

.prev-save-continue-buttons {
  margin-top: 1rem; 
}