.option-card-image {
  display: flex;
  justify-content: center;
}

.unselected-option-card.MuiPaper-root {
  box-shadow: 0px 1px 5px 0px #00000040;
}

.selected-option-card.MuiPaper-root {
  background-color: #e5f4f8;
  border: 1.2px solid rgba(0, 150, 176, 0.7);
  box-shadow: 0px 1px 5px 0px #00000040;
}

.option-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 806px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

@media (max-width: 420px) {
  div.option-card-container {
    gap: 15px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .card-action-area.MuiButtonBase-root,
  .unselected-option-card.MuiPaper-root,
  .selected-option-card.MuiPaper-root {
    width: 100%;
    height: 135px;
  }

  .option-card-image {
    height: 56px;
    width: 56px;
  }

  div.sub-header,
  h2.sub-header,
  .question-label.household-data-q-underline {
    font-size: 1.5rem;
  }

  p.question-label {
    font-size: 1rem;
  }
}
