.option-card-image {
  height: 70px;
  width: 70px;
}

.checkmark {
  height: 1.75rem;
  width: 1.75rem;
  margin: -2.25rem 0.5rem 0.5rem 0;
}

.unselected-option-card.MuiPaper-root {
  background-color: #ffffff;
}

.selected-option-card.MuiPaper-root {
  background-color: #293457;
  color: #ffffff;
}

.option-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 806px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

@media (max-width: 420px) {
  div.option-card-container {
    gap: 15px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .card-action-area.MuiButtonBase-root,
  .unselected-option-card.MuiPaper-root,
  .selected-option-card.MuiPaper-root {
    width: 100%;
    height: 10rem;
  }

  .option-card-image {
    height: 56px;
    width: 56px;
  }

  div.sub-header,
  h2.sub-header,
  .question-label.household-data-q-underline {
    font-size: 1.5rem;
  }

  p.question-label {
    font-size: 1rem;
  }

  .checkmark {
    height: 1.5rem;
    width: 1.5rem;
    margin: -32px 0.5rem 0.5rem 0;
  }
}
