.loading-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.spinner {
  height: 150px;
  width: 150px;
  animation: rotate-s-loader 1s linear infinite;
}

@keyframes rotate-s-loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
