.member-added-container {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid black;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 1px 1px 10px rgb(0 0 0 / 0.4);
}

.member-added-relationship {
  color: #037a93;
}

.radio-question {
  margin-top: 1rem;
}

.household-data-sub-header {
  margin-top: .5rem;
}

@media (max-width: 600px) {
  .member-added-container {
    flex-direction: row;
    align-items: center;
    padding: .5rem;
    margin: .5rem;
  }
  
  .member-added-age {
    padding-left: 1rem;
  }

  .member-added-income {
    display: none;
  }
}