.confirmation-section-underline {
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #505c66;
}

.confirmation-container {
  background-color: #d3f2f0;
  border-radius: 2rem;
  margin: 2rem 8rem 2rem 8rem;
  padding: 2rem;
}

.prev-continue-results-buttons.confirmation {
  margin-left: 7rem;
}

.edit-icon:hover {
  cursor: pointer;
}

.section-title {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.section-p {
  line-height: 2rem;
}

.MuiSvgIcon-root.home-icon {
  color: #2A2B2A;
  height: 4rem;
  width: 4rem;
}