.confirmation-label, .confirmation-label-description {
  margin-bottom: 1rem;
}

.edit-link {
  padding-left: 0.5rem;
  color: #037A93;
}

.edit-link:hover {
  color: #4ecdc4;
}

.confirmation-section-underline {
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #505c66;
}