.twoOneOne-font {
  color: #505050;
  font-family: 'league-gothic', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 550;
  letter-spacing: 1px;
  line-height: 1.1em;
  word-spacing: 1px;
}

.font-color {
  color: #505050;
}

.twoOneOne-footer-icon {
  max-width: 150px;
  height: 130px;
  color: #005191;
}

.font-weight {
  font-weight: 700;
}

.stack-container {
  max-width: var(--main-max-width);
  margin: auto;
}

.getHelp-text {
  padding-top: 25px;
  margin-bottom: 2.5rem;
}