.click-off {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 5;
}

.filterForm {
  box-sizing: border-box;
  display: block;
  position: absolute;
  right: 0px;
  border: 1px solid #b7b1b1;
  background: white;
  z-index: 6;
  box-shadow: 1px 1px 10px rgb(0 0 0 / 0.4);
}

.filters-button.MuiButton-root {
  color: #037A93;
  display: flex;
  align-items: center;
  padding: .5rem;
  cursor: pointer;
  background-color: white;
}

.filters-button.MuiButton-root:hover {
  background-color: white;
}

.filter-selection-container {
  margin: 1rem .5rem 0rem .5rem;
}

.close-button-container {
  display: flex;
  justify-content: end;
  width: 100%;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.full-width {
  width: 100%;
}

.toggle {
  padding-left: .5rem;
}

.radio-option {
  border: 1px solid #b7b1b1;
  margin: .25rem 0 .25rem 0;
  border-radius: 1rem;
  padding-left: .25rem;
}
