.filter-button-container {
  border: 1px solid rgba(224, 224, 224, 1);
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 0.75rem;
}

.MuiButton-root.filter-button {
  border-radius: 3rem;
  font-size: 12.8px;
}

.MuiButton-root.filter-button.citizen,
.MuiButton-root.filter-button.other {
  margin-right: 0.5rem;
}

@media (max-width: 420px) {
  .MuiButton-root.filter-button {
    font-size: 11.8px;
  }
}
