.warning-message {
  padding: 1rem;
  margin: 1rem 0;
  font-weight: bold;
  display: flex;
  gap: 1rem;
  border:  1px solid #978398;
  border-radius: 0.5rem;
  background-color: var(--hover-color);
  align-items: center;
  width: 80%;
}

.warning-icon {
  min-width: 2rem;
  min-height: 2rem;
  width: 2rem;
  height: 2rem;
  filter: invert(33%) sepia(96%) saturate(7216%) hue-rotate(355deg) brightness(92%) contrast(120%);
}
