.logo {
  max-width: 175px;
  max-height: 2rem;
  margin-left: 1rem;
  display: block;
}

#nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.icon-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}

.icon-container {
  display: flex;
  align-items: center;
  color: white;
  margin-left: 1rem;
  padding: 0;
  cursor: pointer;
}

#select-language {
  padding: 0;
  margin-left: 1.5rem;
  color: white;
  font-weight: 600;
}

#select-language:focus-visible {
  outline: -webkit-focus-ring-color auto 1px;
}

@media (max-width: 400px) {
  #nav-container {
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
    height: 80px;
  }

  .icon-wrapper {
    margin-left: 1rem;
  }

  .logo {
    margin: 0;
  }
}
