.filter-section-container {
  margin: 1rem 0 2rem 0;
}

.arrow-margin {
  margin-left: 1rem;
}

.results-section-header {
  font-size: 1.25rem;
  color: var(--primary-color);
}

.citizenship-button.MuiButton-root {
  background-color: #ffff;
  color: var(--primary-color);
  border-radius: 1.5625rem;
}

.flat-white-border-bottom.MuiButton-root {
  border-radius: 1.5625rem 1.5625rem 0 0;
  border-bottom: #ffff;
}

.reset-button.MuiButton-root {
  background-color: #ffff;
  color: var(--primary-color);
  border: none;
  font-weight: 400;
}

.subcategory-indentation.MuiFormControlLabel-root {
  margin-left: 1rem;
}

.MuiPaper-root.MuiPopover-paper  {
  border-radius: 0 1.5625rem 1.5625rem 1.5625rem;
  width: 21rem;
  border: 1px solid var(--primary-color);
}