.no-expenses-container {
  display: block;
  align-content: center;
  vertical-align: middle;
}
.no-expenses-error-icon {
  display: block;
  width: 15rem;
}

.no-expenses-text-container {
  display: block;
  justify-content: center;
}

.noExpenses-body-text {
  font-family: 'Open Sans';
  font-weight: 400;
  padding: 1rem;
  justify-content: center;
}
