.program-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto Slab', serif;
}

.back-to-results-button-container {
  width: 45%;
}

.program-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 1rem 0;
}

.header-icon-box {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-right: 0.5rem;
  width: 40%;
}

.header-icon {
  height: 6rem;
  width: 6rem;
  fill: var(--main-header-color);
}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
}

.header-text-top {
  font-family: 'Open Sans', sans-serif;
  align-items: center;
  color: var(--secondary-color);
  height: 30%;
}

.header-text-bottom {
  height: 70%;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.divider {
  margin: 5px 0;
  border-bottom: 1px solid var(--main-header-color);
  width: 80%;
}

.estimation {
  background-color: var(--main-header-color);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.estimation-text {
  color: white;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  width: 100%;
  padding-bottom: 2px;
  border-bottom: 1px solid white;
}

.estimation-text-left {
  float: left;
  text-align: left;
  margin-right: 5rem;
}

.estimation-text-right {
  text-align: right;
  margin-left: 5rem;
  font-weight: 400;
}

.apply-online-button {
  border-radius: 1.5rem;
  text-align: center;
  margin-top: 2rem;
  width: 30%;
  white-space: nowrap;
  min-width: max-content;
  background-color: var(--primary-color);
  color: white;
  font-size: large;
  font-weight: 700;
  padding: 3px 15px;
  margin-bottom: 2rem;
}

.apply-online-button a {
  color: inherit;
  text-decoration: none;
}

.apply-online-button:hover {
  background-color: white;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.apply-box {
  border: 1px solid var(--primary-color);
  background-color: var(--secondary-background-color);
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 1rem 0;
  margin-bottom: 2rem;
  color: var(--primary-color);
  font-weight: 400;
  width: 25%;
  min-width: 300px;
  align-items: center;
}

.apply-box-list {
  text-align: left;
  padding: 0;
  list-style-type: none;
  font-size: small;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  margin-left: -6rem;
}

.apply-box-list a {
  color: inherit;
  text-decoration: none;
}

li.apply-info {
  margin: 1rem 0;
}

address {
  display: block;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}

.address-info a {
  font-family: 'Roboto Slab', serif;
  color: var(--icon-color);
}

.required-docs {
  border: 1px solid var(--primary-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 1rem;
  margin-bottom: 2rem;
  color: var(--primary-color);
  font-weight: 400;
}

.required-docs-list {
  text-align: left;
  text-transform: uppercase;
  padding-left: 1rem;
  line-height: 1.5rem;
  padding-top: 0.5rem;
  font-size: small;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
}

.program-description {
  width: 30%;
  margin-bottom: 2rem;
}

/* DESKTOP */
@media (max-width: 950px) {
  .back-to-results-button-container {
    width: 60%;
  }
}

/* TABLET */
@media (max-width: 750px) {
  .back-to-results-button-container {
    width: 100%;
  }

  .apply-online-button {
    padding: 3px 8rem;
  }

  .program-description {
    width: 50%;
  }
}
