.program-container {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  font-family: 'Roboto Slab', serif;
}

.program-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 1rem;
}

.header-icon {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-right: 0.5rem;
  width: 40%;
}

.program-icon {
  height: 6rem;
  width: 6rem;
  fill: var(--main-header-color);
}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%; 
}

.top {
  align-items: center;
  color: var(--secondary-color);
  height: 30%;
}

.bottom {
  height: 70%;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.divider {
  margin: 5px 0;
  border-bottom: 1px solid var(--main-header-color);
  width: 80%;
}

.estimation {
  background-color: var(--main-header-color);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  font-weight: 700;
}

.estimation-text {
  color: white;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  width: 100%;
}

.left {
  float: left;
  text-align: left; 
  margin-right: 5rem;
}

.right {
  text-align: right;
  margin-left: 5rem;
  font-weight: 400;
}

.divider1 {
  margin: 5px 0;
  border-bottom: 1px solid white;
  width: 100%;
}

.help-button{
  background-color: var(--primary-color);
  color: white;
  border-radius: 1.5rem;
  text-align: center;
  font-size: large;
  font-weight: 700;
  margin-top: 2rem;
  width:30%;
}
.help-button a{
  color: inherit;
  text-decoration: inherit;
}
.help-button:hover {
  background-color: white;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.apply-button{
  background-color: var(--main-header-color);
  color: white;
  border-radius: 1rem;
  text-align: center;
  font-size: x-large;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 5px;
  padding-bottom: 5px;
  width:30%;
  border-radius: 1.5rem;
}
.apply-button a{
  color: inherit;
  text-decoration: inherit;
}
.apply-button:hover {
  background-color: white;
  border: 1px solid var(--main-header-color);
  color: var(--main-header-color);
}

.required-docs{
  border: 1px solid black;
  text-align: center;
}

.required-docs-list{
  text-align: left;
}
