.MuiPaper-root.footer-full-width-container {
  width: 100%;
  height: 5rem;
  background-color: var(--midBlue-color);
}

.footer-content-container {
  margin: auto;
  max-width: var(--main-max-width);
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  height: 2rem;
  margin-bottom: 1rem;
}

.white-font {
  color: #ffff;
}

.italicized {
  font-style: italic;
}

.bottom-top-margin {
  margin: 1rem 0;
}

.footer-link {
  text-decoration: none;
}
