.MuiPaper-root.footer-full-width-container {
  width: 100%;
  height: 5rem;
  background-color: var(--midBlue-color);
  position: absolute;
  bottom: 0;
}

/* position: fixed; - footer stays on screen */
/* position: absolute; - footer shown on screen after scroll */
