button.share-close-button {
  position: absolute;
  right: 0;
  top: 0;
}

[dir='rtl'] button.share-close-button {
  left: 0;
  right: unset;
}

.container {
  padding: 2rem;
}

button {
  background: none;
  border: none;
  padding: 0;
}

.share-header {
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row-group {
  margin-top: 0.4rem;
  white-space: nowrap;
}

.icon-name {
  cursor: pointer;
}

.facebook {
  background-color: #3b5998;
  color: white;
}

.twitter {
  background-color: #00aced;
  color: white;
}

.gray {
  background-color: #686565;
  color: white;
}

.whatsApp {
  background-color: #25d366;
  color: white;
}

.messenger {
  background-color: #2196f3;
  color: white;
}