.expense-section-container {
  position: relative;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.first-expense-q-padding {
  padding-top: 2rem;
}

.expense-section:before {
  content: '';
  position: absolute;
  height: 100%;
  top: 0;
  left: -100vw;
  width: 300vw;
  background: var(--secondary-background-color);
  z-index: -1;
}