.email-results-container {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3rem;
  color: black;
}

.send {
  margin: 2rem;
}

.copy-results-text {
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.25rem;
}

.copy-results-container {
  margin-bottom: 1rem;
}

.copy-button-and-text {
  display: flex;
  cursor: pointer;
  align-items: center;
}

.copy-button-and-text:hover {
  color: var(--secondary-color);
}

div.MuiPaper-root {
  flex-wrap: nowrap;
}

@media (max-width: 790px) {
  .email-results-container {
    width: 90%;
    padding: 1.5rem;
  }

  div.MuiFormControl-root {
    margin-bottom: 1rem;
  }
}

@media (max-width: 385px) {
  #send-button.MuiButton-root {
    margin: 0;
    margin-bottom: 0.5rem;
  }
}
