* {
  box-sizing: border-box;
  margin: 0%;
}

.benefits-form {
  margin: 0 auto 20px auto;
  justify-content: center;
  padding: 1rem;
}

@media only screen and (max-device-width: 600px) {
  .hidden-xs {
    display: none !important;
  }
}

.step-progress-title {
  font-weight: 700;
  color: #1976d2;
}

.sub-header {
  font-size: 32px;
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #505c66;
}

.bottom-border {
  border-bottom: 1px solid #505c66;
  margin-bottom: 24px;
}

.language-switcher .MuiInputBase-input {
  color: rgb(25, 118, 210)
}
.language-switcher .MuiSelect-icon {
  color: #fff;
}
.Mui-focused .MuiInput-input  {
  background-color: rgba(0,0,0,0) !important;
}