* {
  box-sizing: border-box;
  margin: 0%;
}

.benefits-form {
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  padding: 1.5rem;
}

.step-progress-title {
  font-weight: 700;
  color: #1976d2;
}

.sub-header {
  font-size: 32px;
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #505c66;
}

.bottom-border {
  border-bottom: 1px solid #505c66;
  margin-bottom: 24px;
}